server {
    listen 80;
    server_name securechanel.xyz www.securechanel.xyz 193.105.234.172;
    client_max_body_size 50M;

    location / {
        include proxy_params;
        proxy_pass http://127.0.0.1:5000;
        
        # WebSocket support
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        
        # Forward IP headers
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
    }

    location /static {
        alias /home/rupper/Desktop/messageapp/static;
    }
}
